.conda
.history
__pycache__
.git
elm_parareal.rar
revision_RandNet-Parareal.ipynb
BrusPDE/
img/burgers_system_evolution_pres.pdf
img/burgers_system_evolution_pres.png
img/diffreact_speedup_w_time_pres.pdf
img/diffreact_speedup_w_time_pres.png
img/swe_system_evolution_pres.pdf
img/swe_system_evolution_pres.png
presentation.ipynb
revision/revision_Brus2D_32_fine
revision/revision_DR_113_fine
revision/revision_DR_113_table
revision/revision_DR_41_fine
revision/revision_DR_41_table
revision/revision_SWE_0.05_fine
revision/revision_SWE_0.05_table
revision/revision_SWE_0.0701_fine
revision/revision_SWE_0.0701_table
u1.py
revision_Brus.txt
revision_Brus2.txt
revision_Brus3.txt
revision_Brus4.txt